.mypage {
    width: 100%;
}

.mypage__user {
    display: flex;
    margin:50px auto;
    width:80%;
}

.mypage__user-img {
    width:150px;
    height: 150px;
    margin-left:80px;
    border-radius: 50%;
    background-color: rgb(217, 217, 217);
}

.mypage__user-img img {
    width:100%;
}

.mypage__user-name {
    margin:35px 50px;
}

.mypage__user-name p {
    width:200px;
    font-size: 20px;
    font-weight: bold;
}

.mypage__user-profile {
    margin:55px 100px;
}

.mypage__profile-link {
    padding: 5px 30px;
    text-align: center;
    border:solid 1px #ff5555;
    border-radius: 3px;
    text-decoration: none;
    font-size: 15px;
    color: #ff5555;
    cursor: pointer;
}

.mypage__tab {
    margin: 80px 0 0 100px;
}

.mypage__tab a {
    padding: 0 30px;
    text-decoration: none;
    font-weight: bold;
}

.item__list {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: 10px 0 0 50px;
    border-top: solid 2px rgb(100, 100, 100);
}

.item__list-card {
    margin: 20px 5px;
    width: 200px;
    height: 200px;
    position:relative;
    top:0;
    left:0;
}

.item__list-card img {
    width: 100%;
}

.item__list-card span {
    position:absolute;
    top:0;
    left:0;
    width:100px;
    padding:3px;
    text-align:center;
    background-color:red;
    font-weight:bold;
    font-size:12px;
    color:yellow;
}

.page {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

@media screen and (max-width:768px) {
    .mypage {
        width: 100%;
    }

    .mypage__user {
        display: flex;
        margin:50px auto;
        width:80%;
    }

    .mypage__user-img {
        width:150px;
        height: 150px;
        margin-left:10px;
        border-radius: 50%;
        background-color: rgb(217, 217, 217);
    }

    .mypage__user-img img {
        width:100%;
    }

    .mypage__user-name {
        margin:35px 20px;
    }

    .mypage__user-name p {
        width:150px;
        font-size: 20px;
        font-weight: bold;
    }

    .mypage__user-profile {
        margin:55px 30px;
    }

    .mypage__profile-link {
        padding: 5px 15px;
        text-align: center;
        border:solid 1px #ff5555;
        border-radius: 3px;
        text-decoration: none;
        font-size: 13px;
        color: #ff5555;
        cursor: pointer;
    }

    .mypage__tab {
        margin: 80px 0 0 30px;
    }

    .mypage__tab a {
        padding: 0 30px;
        text-decoration: none;
        font-weight: bold;
    }

    .item__list {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin: 10px 0 0 30px;
        border-top: solid 2px rgb(100, 100, 100);
    }

    .item__list-card {
        margin: 20px 5px;
        width: 200px;
        height: 200px;
        position:relative;
        top:0;
        left:0;
    }

    .item__list-card img {
        width: 100%;
    }

    .item__list-card span {
        position:absolute;
        top:0;
        left:0;
        width:100px;
        padding:3px;
        text-align:center;
        background-color:red;
        font-weight:bold;
        font-size:12px;
        color:yellow;
    }

}